<h1> Hi! <%= params[:user].email %>
<h1>Password#reset</h1>

<p>
  <%= @greeting %>, find me in app/views/password_mailer/reset.html.erb

</p>

<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>
